---
title: Selling the Spine
subtitle: 'Doctors profit in the OR, but at whose expense?'
description: Surgeons who are simultaneously investors in and distributors of the hardware they use in spinal procedures have attracted the attention of government investigators worried about illegal kickbacks and unnecessary surgeries.
keywords: 'PODs, spinal surgery, unnecessary surgery, doctor conflict of interest, longform, southern california public radio, KPCC'
credits: 
    - { role: Reporting, name: Karen Foshay}
    - { role: Photography, name: Benjamin Brayfield }
gallery:
  - { asset_id: 86483, caption: caption goes here}
  - { asset_id: 86482, caption: caption goes here}
  - { asset_id: 86481, caption: caption goes here}
  - { asset_id: 86480, caption: caption goes here}
  - { asset_id: 86479, caption: caption goes here}
  - { asset_id: 86478, caption: caption goes here}
---

/! Part 1
header.chapter.one
  .bound.inner
    h1 1
    h2 Secretive world of surgeon salesmen raises legal, ethical concerns
    =partial(:soundcloud, :locals => { :soundcloud_id => "154670379", :audio_caption => "Listen to the report from our June 17 broadcast." })
article.bound
  .prose.cf

    markdown:
      If you're a spinal surgery candidate these days, you might want to ask your doctor an additional question: Do you have a financial interest in the device you’re implanting?

      Over the last decade, California and the rest of the U.S. have seen rapid growth in what are called Physician Owned Distributorships, or PODs, in the spinal device business.

      A POD is a medical device business in which a physician is an investor and a distributor &mdash; a salesman &mdash; of the parts. The physician investors can and do use the devices they sell in the surgeries they perform, and that creates a financial incentive to do more and at times unnecessary surgeries, critics argue.

      PODs first appeared in California in 2003 and are now in at least 20 states, although no one knows exactly how many there are or where they all are, since the federal government doesn't track or regulate them.

      The U.S. Department of Health and Human Services' Office of Inspector General has been concerned with physician investments for years, issuing [its first Special Fraud Alert](http://oig.hhs.gov/fraud/docs/alertsandbulletins/2013/POD_Special_Fraud_Alert.pdf) in 1989 (about an earlier version of the POD business model), again in 2006 and most recently in March 2013. In the latest warning, it wrote that PODs are "inherently suspect under the anti-kickback statute."

    aside.collateral
      figure.asset
        =partial(:asset, :locals => { :asset_id => "84725" })
        figcaption
          p Dr. John Steinmann of Arrowhead Orthopaedics in Redlands is a proponent of physician-owned distributorships. PODs create capitalistic competition in the surgical implant device market and lowers costs to hospitals, he said. His company manufactures and distributes surgical implant devices. He acknowledges that some doctors abuse the programs to make more money for themselves and calls for standards to increase transparency in the industry.
      // Ad Unit - Position A
      =partial(:ad, :locals => { :ad_id => "x01" })

    markdown:
      The question is whether physician investors in PODs are receiving payments in exchange for referring patients to hospitals that purchase devices those physicians distribute, which would be a criminal offense.

      "The fraud alert issued about PODs was very strongly worded, saying that they were very concerned with the use of PODs in the health care industry and the fact that it could ultimately drive up medical costs," said Troy Barksy, an attorney who spent 11 years at Health and Human Services' Office of General Counsel. He added that there is worry PODs may impact patient care. "It could drive unnecessary services, and ultimately lead to patients getting care they don't need," he said.

    aside.pullquote
      blockquote
        p “(PODs) could drive unnecessary services, and ultimately lead to patients getting care they don't need.”
        footer
          cite
            | Troy Barksy, Attorney and former HHS employee

    markdown:
      ### Enforcement action

      Without a set of standards or rules, many PODs are operating in a gray zone. But that may change with an ongoing federal law enforcement investigation.

      The Department of Justice is looking into what it said is a chain of PODS set up by a firm called [Reliance Medical Systems](http://www.reliance-medical-systems.com). In a court filing in a Michigan federal court, it said it is investigating whether Reliance paid kickbacks to 35 physicians. The document separately lists 35 physicians it characterizes as "Reliance investors."

      Reliance, which has said it moved away from the physician ownership model in 2012, [has claimed in a court filing](http://www.spertuslaw.com/media/Complaint-Final1.pdf) that its business approach was legal.

      One of those under investigation is Aria Sabit, who used to perform spinal surgeries in Ventura but has since moved to Michigan. Department of Justice investigators allege in the court filing that Sabit's rate of spinal device surgeries dramatically increased &mdash; fourfold in the case of surgeries involving "cage" devices &mdash; after he became an investor in a POD. They also allege Sabit was paid $30,000 a month by the distributorship. In depositions, Sabit repeatedly asserted that he had no involvement in a POD.

      For his part, Redlands surgeon [John Steinmann told KPCC that he owns 11 PODs](http://www.alliancesurg.com) and blames political pressure from the big spinal device firms for the attacks on distributorships. He insists his PODs are cost savers, arguing, "We have demonstrated ... in our community a million dollars a year in health care savings."

      But the Health and Human Services Inspector General found that prices for PODS products were the same as or higher than those of non-POD manufacturers.

    aside.collateral
      figure.asset
        =partial(:asset, :locals => { :asset_id => "84737" })
        figcaption
          p Dr. Jose Rodriguez, left, and Dr. Scott Lederhaus perform spine surgery at Foothills Presbyterian Hospital in Glendora. The surgeons are not part of a physician-owned distributorship, but contend that PODs create opportunity for surgeons to perform unnecessary procedures with financial benefits.

    markdown:
      After reviewing its contract with a POD last year, Palomar Health in San Diego cut ties with the distributorship after determining that the health provider would save more than $700,000 by doing so. Palomar also found that the only doctors using the POD devices were investors in the POD or shared a practice with the physician investors. In addition, national hospital chains Tenet and HCA have recently adopted "no POD" policies.

      Steinmann said his PODS operate in a transparent manner, although he acknowledges a need within the industry for guidance. "We have worked very hard in three years to gain acceptance on a set of standards that would require transparency and require disclosure and require legal compliance and require personal and financial investment," he said.

      ### Challenging the industry's titans

      PODs are changing the nature of the spinal-device marketplace, said Evan Anderson, a former device engineer and salesman. "The sales rep really doesn't have a role when the surgeon can play the role of the sales rep," he said. PODs are also posing a competitive challenge to more established firms selling spinal implant hardware.

      The spinal device industry has seen dramatic growth in sales, going from $250 million in 1994 to $7 billion in 2009, according to Stan Mendenhall, editor of [the Orthopedic Network](“www.orthopedicnetworknews.com”) News, an industry newsletter. Much of that growth can be attributed to the huge markups in hardware used.

    aside.collateral
      // Ad Unit - Position B
      =partial(:ad, :locals => { :ad_id => "x02" })

    markdown:
      For example, an "average pedicle screw" &mdash; used in spinal surgeries &mdash; costs about $60 to make, while the average selling price "is over $1,000," Mendenhall said.

      KPCC obtained [a PowerPoint presentation by Orange County-based Atlas Medical LLC](http://www.scribd.com/doc/229048410/Atlas-PowerPoint), which described itself as a consulting company that provided "Turn key [sic] POD set up" to doctors. The PowerPoint lists device markups, including a screw that costs $310 and sells for $1,100. Atlas Medical owner Aaron Jennings said the firm is no longer in business.

      Traditionally, five major companies dominated the spinal hardware business. But as PODs have proliferated over the past decade, the big five's market share slipped from 86 percent to 67 percent, according to research by Orthopedic Network News. In contrast, the hip and knee device industry remained steady, Mendenhall said.

      "Much of the spine [business], about 20 percent of sales, has gone to companies that didn't exist five years ago or were not in the top five," said Mendenhall.

      As their market share fell to PODs, industry leaders traveled to Washington to inform the Department of Health and Human Services' Office of Inspector General, among others, according to Barksy, the former HHS attorney.

      ### Federal scrutiny

      U.S. Sen. Orrin Hatch (R-Utah) has been a vocal critic of PODs, and in 2011 joined [four other senators in requesting](http://www.finance.senate.gov/newsroom/ranking/download/?id=8f1a711c-0a52-4d94-bb6d-d2a02d411cb4) that HHS' Inspector General investigate the distributorships. The Inspector General issued a report last October that found that PODs were linked to higher rates of spinal surgeries.

      "Unfortunately my suspicions of physicians using PODs were confirmed," Hatch told KPCC, adding, "the report showed that PODs can lead to over-utilizations [and] force unnecessary procedures for patients who really might not need that."

    aside.collateral.info
      header
        h4 PODs 101
      .contents
        dl.faq
          dt What is a POD?
          dd A POD is a Physician Owned Distributorship. Under this business model, a doctor is an investor in, and distributor of, the devices or hardware he may put into his patients. Multiple doctors can have a financial interest in one POD.
          dt Is that business arrangement legal?
          dd In and of itself the arrangement is legal, but the Department of Health and Human Services’ Office of Inspector General has concluded that PODs are “inherently suspect under the anti-kickback statute.” It issued fraud alerts about PODs in 2006 and in 2013.
          dt Can I find out if my surgeon is involved in a POD?
          dd Currently, your physician is under no legal obligation to disclose that information. The Sunshine Act, a provision of the Affordable Care Act, does require that each year, certain medical device makers and distributors disclose to the Centers for Medicare and Medicaid Services ownership or investment interests held by physicians or their immediate family members. The law requires the Centers to post online the first batch of information it received by September.
          dt Does the ‘Sunshine Act’ require my doctor to inform me that he is involved in a POD?
          dd No. You will have to ask on your own,  or search that Centers for Medicare and Medicaid Services website when it is published. The Centers say the site “will be organized and designed to increase access to and knowledge about these relationships and to provide information to enable consumers to make informed decisions.”

    markdown:
      The report's findings were based on questionnaires submitted to 596 hospitals, 589 of which responded. Investigators also looked at Medicare claims for spinals surgeries, and found the following:

      * One in five spinal fusion surgeries billed to Medicare in 2012 used POD devices.
      * Spinal fusions doubled at hospitals that used PODS compared with those that did not.
      * Spinal surgeries tripled after hospitals began purchasing from a POD.
      * Surgeries that used POD devices used fewer devices but did not have lower costs.

      For Dr. Scott Lederhaus, president of the Association of Medical Ethics and a longtime critic of PODs, the Justice Department investigation needs to send a message. "Somebody needs to go to jail because just a fine isn't going to do it," Lederhaus said, adding, "the fines are a lot less than what they would make in a year, so why bother worrying about what you'll get fined."



/! Part 2
header.chapter.two
  .bound.inner
    h1 2
    h2 Did the lure of money lead to one man's medical nightmare?
    =partial(:soundcloud, :locals => { :soundcloud_id => "154671121", :audio_caption => "Listen to the report from our June 17 broadcast." })
article.bound
  .prose

    markdown:
      Scattered on Azike Ntephe’s kitchen table are dozens of rods, screws and bolts that just two years ago used to hold up his spine. “Oh, God, how did they put this in?” said the Claremont resident.
    
      Ntephe has also wondered why they were put in, and he thinks he knows at least part of the answer: His doctor was part of a Physician Owned Distributorship, or POD.
    
      In a POD, a physician is an investor and distributor of products that he implants in his surgeries &mdash; a relationship that creates a financial incentive to use those devices.
    
    aside.pullquote
      blockquote
        p “Oh, God, how did they put this in?”
        footer
          cite
            | Azike Ntephe, Patient

    markdown:
      In his fraud and medical malpractice lawsuit against Pomona surgeon Ali Mesiwala, Ntephe alleges that the surgeon was involved in a POD and had a financial interest in the parts that he implanted into Ntephe.
    
      It all started in 2009. After suffering from ongoing back pain, Ntephe visited three physicians.  The first two suggested minimal procedures, but a third one, Mesiwala, suggested a spinal fusion, according to Ntephe.

    aside.collateral
      figure.asset
        =partial(:asset, :locals => { :asset_id => "84723" })
        figcaption
          p After two back surgeries, Azike Ntephe now uses a walker to move around his home. He had to give up his law practice and most outdoor activities as he begins to walk on his own again.

      // Ad Unit - Position Cm 
      =partial(:ad, :locals => { :ad_id => "x03" })

    markdown:
      The surgery took place in October of that year. Mesiwala implanted a cage and dozens of nuts, bolts and screws in Ntephe’s spine.
    
      Ntephe said the surgery didn’t work. For months, he could only walk hunched over. Eventually, he could not walk at all and became bedridden.  He claims Mesiwala failed to initially tell him an important detail.
    
      “He didn’t tell me there were dislodged cage and disconnected rods that were causing the intense pain I was having,” Ntephe said. “Instead, he recommended that I have [a] spinal stimulator and that it would help. It did not help. It continued to get worse.”

    aside.collateral.info.outbound
      header
        h4 How many spinal surgeries has your doctor performed?
      .contents
        p: a.outbound-link href="http://www.cbsnews.com/news/tapping-into-controversial-back-surgeries/2/" To find out, search this database of medicare data built by CBS.

    markdown:
      A second surgeon eventually removed all of the hardware Mesiwala implanted. The metal devices now sit in a plastic bag at Ntephe’s home. Ntephe can now move around again with help of a walker. He wonders if he really needed Mesiwala's complex surgery and all of that hardware.

      Mesiwala and his attorney declined repeated requests for comment. ([Mesiwala is also facing another lawsuit](http://www.scpr.org/news/2012/07/25/33464/pomona-hospital-allegedly-conducted-experiments-pa/) involving a former patient who claimed he used unapproved experimental products in her surgery.)

      ### A lack of transparency?

      Ntephe claims in his lawsuit that Mesiwala never told him that the doctor had a financial interest in the hardware he used in his surgery. Ntephe said he only learned about it after the parts were removed. The suit is pending.

      “I didn’t know anything about it,” said Ntephe, adding that he would have refused the surgery “if I had known that he had a financial interest.”

      Ntephe acknowledges that he signed a disclosure form in which Mesiwala said he had a financial interest in three device companies: NuVasive, Kronos Spine and Hoffman Surgical. The form, obtained by KPCC, also said Mesiwala would inform Ntephe if he was going to implant those parts and give him options should he want another product. Ntephe said that conversation never happened.

    aside.collateral
      figure.asset
        =partial(:asset, :locals => { :asset_id => "85776" })
        figcaption
          p Azike Ntephe kept the surgical implants that Dr. Ali Mesiwala used on him. For two years Ntephe lived with more than 40 pieces of hardware in his back before having them removed, he said.

    markdown:
      “In my opinion, most PODs operate in a nontransparent manner, and that raises the question of honesty and intent,” said Dr. John Steinmann, owner of [11 distributorships](http://www.alliancesurg.com) in the Inland Empire. “If you are not willing to be transparent, then why not?” he asked.

      Steinmann has been urging Congress to establish ethical guidelines for PODs. He claims his distributorships adhere to a published set of rules that are published on his websites, and he’d like others to do the same.

      “What we have worked on very hard for three years is to gain acceptance on a set of standards that would require transparency and require disclosure,” Steinmann said.  He’s had meetings with the Health and Human Services Office of Inspector General, laying out his suggested rules governing PODs. The Inspector General issued a critical report on PODs last October, [preceded by a fraud alert in March 2013.](http://oig.hhs.gov/fraud/docs/alertsandbulletins/2013/POD_Special_Fraud_Alert.pdf)

    aside.collateral
      figure.asset
        =partial(:asset, :locals => { :asset_id => "84722" })
        figcaption
          p Azike Ntephe kept the surgical implants that Dr. Ali Mesiwala used on him. For two years Ntephe lived with more than 40 pieces of hardware in his back before having them removed.

    markdown:
      While acknowledging PODs are subject to abuse, Steinmann said, “It’s not the POD that’s causing that. It’s an ethical breach. It already exists in that individual. The POD will not take an ethical surgeon and make them unethical.”

      ### Letting the ‘Sunshine’ in

      Right now, finding out if your doctor is an investor in a POD or which hospitals purchase from PODs is nearly impossible, because they are private businesses.

      KPCC surveyed 30 southern California hospitals and found many did not know if they were doing business with distributorships. Only five said they had a policy for dealing with them.

      Things are going to change later this year.

    aside.collateral.info.outbound.library
      header
        h4 Court Documents
      .contents
        ul.document-list
          li: a href="docs/doj_investigation.pdf"
            mark DOJ's civil investigative demand
            ul
              li PDF (12 MB)
              li You can find the list of 35 doctors named in the investigation on page 32.
          li: a href="docs/azike_v_mesiwala.pdf"
            mark Ntephe's lawsuit against Dr. Mesiwala
            ul
              li PDF (3 MB)
          li: a href="docs/hhs_report.pdf"
            mark HHS's report on spinal device PODs
            ul
              li PDF (335 KB)

    markdown:
      “I think it’s time to put sunshine on some of these approaches,” said U.S. Sen. Orrin Hatch (R-Utah), who pushed for the passage of [the 2014 Sunshine Act.](http://www.cms.gov/Regulations-and-Guidance/Legislation/National-Physician-Payment-Transparency-Program/index.html) Part of the Affordable Care Act, the law requires medical device makers and distributors who get reimbursed by Medicare, Medicaid or the Children’s Health Insurance Program to disclose to the Centers for Medicare and Medicaid Services who their physician investors are and how much they are paid. The Centers for Medicare plan to post that information online by September.

      While the government plans to post the information about POD investors, that does not guarantee that doctors will inform their patients.

      On a visit to the waiting room of Steinmann's Redlands office, KPCC observed that the doctor has a sign on the counter disclosing his financial ties to PODs. The information is also in his patient consent forms. But Steinmann acknowledged that he does not talk to his patients to make sure they understand that he can financially benefit from the parts he implants in them.


/section.gallery.grid
  .bound
    .macro
      header
        h4 Netephe's Hardware
        p.instructions Click or tap Netephe's x-rays to see each one in more detail.
      nav.thumbnails
        ul
          - current_page.data.gallery.each do |a|
            li: a href="#{a.asset_id}"
              =partial(:asset, :locals => { :asset_id => a.asset_id, :asset_size => "lsquare" })
    .detail
      ul
        - current_page.data.gallery.each do |a|
          li[id="#{a.asset_id}"]
            figure
              =partial(:asset, :locals => { :asset_id => a.asset_id })
              figcaption
                p = a.caption


article.bound
  .prose

    markdown:
      ### A complicated web

      An ongoing U.S. Department of Justice civil investigation provides a rare glimpse into the complicated web of distributorships.

      The Justice Department’s civil fraud division is currently investigating whether a Utah-based device company, [Reliance Medical Systems,](http://www.reliance-medical-systems.com) paid kickbacks to physicians to induce them to use Reliance hardware. The focus is on former Ventura surgeon Aria Sabit, who earned $400,000 from Reliance during the time he used its devices in spinal fusions, according to the Justice Department.  It also alleges Sabit’s rate of surgeries involving spinal devices increased dramatically once he became a Reliance investor. His surgeries involving cages went up 400 percent, according to the Justice Department investigation.

      In a February civil demand filing, the Justice Department also alleged that Ntephe's surgeon, Mesiwala, was one of 35 physician investors in Reliance. Ntephe’s medical records show that at least some of the parts implanted in his back were from Reliance. Pomona Valley Hospital Medical Center, where Ntephe had his surgery, said it stopped using products from Reliance and Kronos Spinal Technology in September 2013 after it learned about the Department  of Justice investigation.

      Reliance was started by medical device industry veterans Adam Pike and Bret Berry, who then formed 11 subsidiaries. The Justice Department contends that Reliance operated PODs. According to the court filing, one of Reliance’s subsidiaries was Kronos Spinal Technologies, the same company in which Mesiwala has disclosed he is an investor. Public records don’t disclose who owns the subsidiaries, but do show nearly all of them have the word “spine” in their name and share addresses in Florida.

      Reliance has said it moved away from the physician-ownership model in 2012, and has [claimed in a court filing](http://www.spertuslaw.com/media/Complaint-Final1.pdf) that its business approach was legal.

      Sabit has repeatedly denied being involved in a POD. [The California Medical Board is now trying to revoke or suspend his license.](http://www.freep.com/assets/freep/pdf/C4212302923.PDF)

      Mesiwala and his attorney did not show up for a scheduled deposition on May 30, according to Ntephe’s attorney, Scott Glovsky. Glovsky is now seeking a court order to force Mesiwala to answer his questions, including his relationship with Reliance and any PODs. 

    aside.supplemental
      p Francine Rios contributed to this story.


- content_for(:document_footer) do

	==javascript_include_tag 'cosmetics'

