// OAS SETUP
javascript:
  <!--//configuration
  OAS_url = 'http://oascentral.publicradio.org/RealMedia/ads/';
  OAS_sitepage = 'scpr.org'; // Default. This may be overridden by a special ad target.

  (function() {
    // The regexp to match against the current pathname.
    // If you pass a sitepage property, it will be used to set OAS_sitepage.
    // If there is no sitepage property for the matched path, it will use
    // window.location.pathname.

  }());

  OAS_listpos = "x01,x02,x03";
  OAS_query = '';
  OAS_target = '_top';
  //end of configuration
  OAS_version = 10;
  OAS_rn = '001234567890'; OAS_rns = '1234567890';
  OAS_rn = new String (Math.random()); OAS_rns = OAS_rn.substring (2, 11);
  function OAS_NORMAL(pos) {
    document.write('<a href="' + OAS_url + 'click_nx.ads/' + OAS_sitepage + '/1' + OAS_rns + '@' + OAS_listpos + '!' + pos + '?' + OAS_query + '" target=' + OAS_target + '>');
    document.write('<img src="' + OAS_url + 'adstream_nx.ads/' + OAS_sitepage + '/1' + OAS_rns + '@' + OAS_listpos + '!' + pos + '?' + OAS_query + '" border="0" /></a>');
  }
  //-->

javascript:
  <!--
  OAS_version = 11;
  if ((navigator.userAgent.indexOf('Mozilla/3') != -1) || (navigator.userAgent.indexOf('Mozilla/4.0 WebTV') != -1)) {
    OAS_version = 10;
  }
  if (OAS_version >= 11) {
    document.write('<SCR' + 'IPT LANGUAGE=JavaScript1.1 SRC="' + OAS_url + 'adstream_mjx.ads/' + OAS_sitepage + '/1' + OAS_rns + '@' + OAS_listpos + '?' + OAS_query + '"><\/SCRIPT>');
  }
  //-->

javascript:
  <!--
  document.write('');
  function OAS_AD(pos) {
    if (OAS_version >= 11) {
      OAS_RICH(pos);
    } else {
      OAS_NORMAL(pos);
    }
  }
  //-->

// ANALYTICS
// Google Analytics
javascript:
  var _gaq=[['_setAccount','UA-624724-1'],['_setDomainName', 'scpr.org'],['_trackPageview']];
  (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
  g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
  s.parentNode.insertBefore(g,s)}(document,'script'));

/! Stats: WebTrends
script src="http://media.scpr.org/assets/scripts/webtrends.v2.js"
javascript:
  //<![CDATA[
      var _tag=new WebTrends();
      _tag.dcsGetId();
  //]]>
javascript:
  //<![CDATA[
      _tag.dcsCustom=function(){
          // Add custom parameters here.
          //_tag.DCSext.param_name=param_value;
      }
  _tag.dcsCollect();
  //]]>
noscript
  div
    img alt="DCSIMG" id="DCSIMG" width="1" height="1" src="http://statse.webtrendslive.com/dcsyqctzwuz5bdsebpmwhwe8w_2p8d/njs.gif?dcsuri=/nojavascript&amp;WT.js=No&amp;WT.tv=9.3.0&amp;WT.dcssip=www.scpr.org"
/! /WebTrends

/! BEGIN Comscore
javascript:
  var _comscore = _comscore || [];
  _comscore.push({ c1: "2", c2: "6035974", c3: "", c4: "" });
  (function() {
  var s = document.createElement("script"), el = document.getElementsByTagName("script")[0]; s.async = true;
  s.src = (document.location.protocol == "https:" ? "https://sb" : "http://b") + ".scorecardresearch.com/beacon.js";
  el.parentNode.insertBefore(s, el);
  })();
noscript
  img src="http://b.scorecardresearch.com/p?c1=2&c2=6035974&c3=&c4=&c5=&c6=&c15=&cv=2.0&cj=1"
/! /Comscore

/! begin chartbeat
javascript:
  var _sf_async_config = { uid: 33583, domain: 'projects.scpr.org', useCanonical:true };
  (function() {
      function loadChartbeat() {
          window._sf_endpt = (new Date()).getTime();
          var e = document.createElement('script');
          e.setAttribute('language', 'javascript');
          e.setAttribute('type', 'text/javascript');
          e.setAttribute('src','//static.chartbeat.com/js/chartbeat.js');
          document.body.appendChild(e);
      };
      var oldonload = window.onload;
      window.onload = (typeof window.onload != 'function') ? loadChartbeat : function() { oldonload(); loadChartbeat(); };
  })();
/! end chartbeat