figure.audio.cf
  .soundcloud
    iframe frameborder="no" height="166" scrolling="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/#{soundcloud_id}&amp;color=ff9900&amp;auto_play=false&amp;hide_related=false&amp;show_artwork=true&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false" width="100%" 
  figcaption = audio_caption 